/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common style  */
body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

.header {
    display: flex;
    height: 94px;
    background: #562EFF;
    align-items: center;
    justify-content: space-around;
}
.logo-title {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 85px;
    padding-top: 5px;
}
.logo-title img {
    width: 40.42px;
height: 51px;
}

.name {
    font-size: 24px;
    color: #FFFFFF;
}



.navbar ul {
    display: flex;
    gap: 36px;
    align-items: center;
    margin-right: 70px;
}

.navbar ul li {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    list-style: none;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 21px;
}

main
/* player style  */

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;

}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top Blog Styles */

.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
    gap: 16px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* Latest Courses  */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course {
    width: 252px ;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.course-thumbnail img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.empty {
    color: #AEAEAE;
    font-size: 12px;
}

.course-title {
    font-size: 20.0336px;
    color: #1E1E1E;
}

.course-author {
    font-size: 14.6913px;
    color: #ED6B4F;
}

.course-time {
    margin-left: 12px;
    width: 94px;
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    font-size: 16px;
    padding-left: 15px;
    
}

/* Media Quaries */

/* for mobile devices */


@media only screen and (max-width: 688px) {

    .container {
        width: 100%;
    }
    .players, .blog-container, .courses {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    
    .player, .blog {
        flex-direction: column;
    } 

    .header {
        height: 200px;
        gap: 50px;
    }

    .logo-title {

        align-items: center;
        
    }
  
    
    .navbar ul {
        
        flex-direction: column-reverse;
        gap: 5px;
    }
    
   
    
    
}

/* Tablet Devices */

@media only screen and (min-width: 689px) and (max-width: 992px) {

    .container {
        width: 100%;
    }
    
    .section-title {
        text-align: center;
    }

    .players, .courses {
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        justify-items: center;
    }
    
    .blog-container {
        grid-template-columns: repeat(1, 1fr);
       
    }

    .player, .blog {
        flex-direction: column;
    } 

    .courses {
        flex-direction: column;
    }

}




